{{ partial "header.html" . }}
<div class="articleMeta">
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  {{ with .Params.author }}{{ . }}{{ end }}
  {{ if (gt .Params.date 0) }}{{ .Date.Format "2006/01/02" }}{{ end }}
  <div class="categories">
  {{ with .Site.Taxonomies.categories }}
    categories:
    {{ range $key, $value := . }}
      <a href="{{ $.Site.BaseURL }}/categories/{{ $key | urlize }}">{{ $key }}</a>
    {{ end }}
  {{ end }}
  </div>
</div>


<article>
{{ .Content }}
</article>

{{ partial "footer.html" . }}
