<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/academicons.min.css" | relURL }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/style.css" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <div class="header">
      {{ if not .Site.Params.singleBlog }}
      <div class="homeTitle">{{ .Site.Params.Name | safeHTML }}</div>
      <button id="menu-toggle">⋯</button>
      <nav id="menu" class="menu">
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Params.menu }}
          <li>
            {{ if $currentPage.IsHome }}
              <a href="#{{ . }}">{{ . }}</a>
            {{ else }}
              <a href="{{ $currentPage.Site.BaseURL }}#{{ . }}">{{ . }}</a>
            {{ end }}
          </li>
          {{ end }}
          {{ if .Site.Params.bib }}
          <li>
            <a href="{{ $currentPage.Site.BaseURL }}bibliography">Bib</a>
          </li>
          {{ end }}
        </ul>
      </nav>
      {{ else }}
      <div class="homeTitle"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.Name | safeHTML }}</a></div>
      {{ end }}
    </div>
    <div class="content">
