<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    <script src="https://kit.fontawesome.com/44bd4ceb21.js" crossorigin="anonymous"></script>
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <div class="header">
      <div class="homeTitle">{{ .Site.Title | markdownify }}</div>
      <button id="menu-toggle">⋯</button>
      <nav id="menu" class="menu">
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Params.singlePageMenu }}
          <li>
            {{ if $currentPage.IsHome }}
              <a href="#{{ . }}">{{ . }}</a>
            {{ else }}
              <a href="{{ $currentPage.Site.BaseURL }}#{{ . }}">{{ . }}</a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="content">
