<div class="bibs">
  <ul style="list-style: none; padding: 0; margin: 0;">
    {{ range .Site.Data.bib }}
      <li>
        <strong>{{ .title }}</strong>
        <div style="color: #666; font-style: italic">
          <div>{{ .authors }}</div>
          <div>In {{ .source }} {{ .year }}</div>
        </div>
        <a href="{{ .url }}" target="_blank">
          <i class="fa-regular fa-file-pdf"></i>
        </a>
        <a href="/notes/{{ .blog }}/">
          <i class="fa-solid fa-note-sticky"></i>
        </a>
        <details>
          <summary>Cite this </summary>
          <div class="bib">
            <pre id="bib-{{ .blog }}">{{ .bib }}</pre>
            <button
                class="copy-button"
                data-target="bib-{{ .blog }}"
                onclick="copyToClipboard(event)">Copy</button>
          </div>
        </details>
      </li>
    {{ end }}
  </ul>
</div>

<script>
  function copyToClipboard(event) {
    const button = event.currentTarget;
    const targetId = button.getAttribute('data-target');
    const textElement = document.getElementById(targetId);

    if (textElement) {
      // Copy text to clipboard
      navigator.clipboard.writeText(textElement.textContent)
        .then(() => {
          // Change button text to a checkmark ✔
          const originalText = button.textContent;
          button.textContent = "✔";
          button.disabled = true; // Temporarily disable the button
          
          // Restore original text after 2 seconds
          setTimeout(() => {
            button.textContent = originalText;
            button.disabled = false; // Re-enable the button
          }, 2000);
        })
        .catch(err => {
          console.error('Failed to copy text: ', err);
        });
    }
  }
</script>
