<div class="bibs">
  <ul style="list-style: none; padding: 0; margin: 0;">
    {{ range .Site.Data.bib }}
      <li>
        <strong>{{ .title }}</strong>
        <div style="color: #666; font-style: italic">
          <div>{{ .authors }}</div>
          <div>In {{ .source }} {{ .year }}</div>
        </div>
        <a href="{{ .url }}" target="_blank">
          <i class="fa-regular fa-file-pdf"></i>
        </a>
        <a href="/notes/{{ .blog }}/">
          <i class="fa-solid fa-note-sticky"></i>
        </a>
        <details>
          <summary><i class="fa-solid fa-quote-right"></i></summary>
          <div class="bib">
            <pre id="bib-{{ .blog }}">{{ .bib }}</pre>
            <button
                class="copy-button"
                data-target="bib-{{ .blog }}"
                onclick="copyToClipboard(event)">Copy</button>
          </div>
        </details>
      </li>
    {{ end }}
  </ul>
</div>
