    <div id="experience" class="Experience">
      <div class="profileTitle" style="margin-top: 10px">Experience</div>
      {{ if .Site.Data.work }}
        <h3>Career</h3>
        {{ range .Site.Data.work }}
          <div class="education">
            <div class="date">{{ .date }}</div>
            <div class="tl-content">
              <h3>🏢 {{ .institution }}</h3>
              <p><strong>💼 {{ .degree }}</strong></p>
              <p>🏙️ {{ .location }}</p>
            </div>
          </div>
        {{ end }}
      {{ end }}
      {{ if .Site.Data.education }}
        <h3>Education</h3>
        {{ range .Site.Data.education }}
          <div class="education">
            <div class="date">{{ .date }}</div>
            <div class="tl-content">
              <h3>🏫 {{ .institution }}</h3>
              <p><strong>🎓 {{ .degree }}</strong></p>
              <p>🌇 {{ .location }}</p>
            </div>
        </div>
        {{ end }}
      {{ end }}
    </div>
