    <div id="publications" class="pubs">
      {{ if .IsHome }}
      <div class="profileTitle">Seclect Publications</div>
      {{ else}}
      <div class="profileTitle">All Publications</div>
      {{ end }}
      {{ $data := cond .IsHome .Site.Data.selectpub .Site.Data.pubs }}
      {{ range $data }}
        <div class="pub-item">
          <div class="pub-title">
            <div class="booktitle">{{ .conference }}</div>
            <h3>{{ .title }}</h3>
          </div>
          <div>{{ .authors | markdownify }}</div>
          <p><em>{{ .details }}</em></p>
          <div class="links">
            {{ if .pdf }}
            <span class="label"><a href="{{ .pdf }}" target="_blank">📜 PDF</a></span>
            {{ end }}
            {{ if .slides }}
            <span class="label"><a href="{{ .slides }}" target="_blank">📽️ Slides</a></span>
            {{ end }}
            {{ if .video }}
            <span class="label"><a href="{{ .video }}" target="_blank">📹 Video</a></span>
            {{ end }}
            {{ if .code }}
            <span class="label"><a href="{{ .code }}" target="_blank">💻 Code</a></span>
            {{ end }}
            {{ if .bib }}
            <details class="label">
              <summary>📎 Bib</summary>
              <div class="bib">
                <pre id="bib-{{.bib}}"> {{ .bib }}</pre>
                <button
                  class="copy-button"
                  data-target="bib-{{ .bib }}"
                  onclick="copyToClipboard(event)">Copy</button>
            </details>
            {{ end }}
          </div>
          <hr>
        </div>
      {{ end }}
      {{ if .IsHome }}
        <div style="text-align: right"><a href='{{ relURL "pubs"}}'>All PUBLICATIONS ></a></div>
      {{ end }}
    </div>
