    <div id="service" class="Service">
      <div class="profileTitle">Service</div>
      <div class="ServiceInfo">
        {{ if .Site.Data.service }}
        {{ range .Site.Data.service }}
          {{ range $year, $positions := . }}
            {{ $year }}
            <ul>
              {{ range $positions }}
                <li>
                  <strong>{{ .title }}</strong>,
                  <strong>{{ .institution }}</strong>,
                  {{ .notes }}
                </li>
              {{ end }}
            </ul>
          {{ end }}
        {{ end }}
        {{end}}
      </div>
    </div>

